* {
	margin: 0px;
	padding: 0px;
	border-width: 0px;
}

body {
	background-color: #cdcdcd;
	/*min-width: 400px;*/
}

.body {
	width:550px;
	margin: 30px auto;
	margin-top: 90px;
	padding: 10px 25px;
	border-style: solid;
 	border-width:1px;
 	border-color: #555;
 	border-radius: 17px;
 	background-color: #DFDFDF;
}

@media screen and (max-device-width: 600px) {
	.body {
		width: 90%;
	}
}