* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #cdcdcd;
	/*min-width: 400px;*/
}

.body {
	width:600px;
	margin: 20px auto;
	margin-top: 80px;
	padding: 10px 15px;
	border: 1px solid #555;
 	border-radius: 17px;
 	background-color: #DFDFDF;
}

@media screen and (max-width: 600px) {
	.body {
		width: 88%;
	}
}

.tip {
	position: absolute;
	background-color: #333;
	color: #eee;
	width: 200px;
	height: 25px;
	line-height: 25px;
	top: 200px;
	left: 50%;
	margin-left: -100px;
	text-align: center;
	z-index: 3;
	box-shadow: 3px 2px 4px #555;
}