* {
	margin: 0px;
	padding: 0px;
	border-width: 0px;
}

body {
	background-color: #CCCCCF;
}

.header {
	height: 60px;
	line-height: 60px;
	width: 100%;
    	background-color: #000000;
	border-color: #606061;
}

.header h2 {
	text-align: center;
	color: #7BBBEE;
	font-family: "Comic Sans MS";
}

.body {
	width:400px;
	margin: 30px auto;
	border-style: solid;
 	border-width:1px;
 	border-color: #555;
 	border-radius: 17px;
 	background-color: #DFDFDF;
}

.body .note h2 {
  	color:#EEEEEE;
  	text-align:left;
  	padding-left:5px; 
  	border-radius: 15px;
  	background-color:#555;
}

.body .item {
	width: auto;
  	margin-left: 20px;
  	line-height: 20px;
  	font-size: 120%;
}

.body .item:hover {
	line-height: 40px;
	font-size: 150%;
	font-weight: bolder;
}

.body .item a:link {
	text-decoration: none;
	color:black;
}

.body .item a:visited {
	text-decoration: none;
	color:black;
}

.body .item a span {
	font-size: smaller;
}

.toTop {
	position:fixed;
	bottom:15px;
	right:370px;
}

.toTop img:hover {
	-webkit-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
}

.toTop img {
	border-radius: 12px;
}