* {
	margin: 0px;
	padding: 0px;
	border-width: 0px;
}

body {
	background-image: url('../images/bg.jpg');
	/*min-width: 400px;*/
}

.header {
	position: fixed;
	top: 0;
	height: 52px;
	line-height: 52px;
	width: 100%;
    background-color: #2CA6CB;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 52%), linear-gradient(-45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 52%);
    background-size: 1em 1em;
	border-color: #606061;
	z-index: 5;
}

.header address {
	text-align: center;
	font-family: "Comic Sans MS";
}

.header address a {
	font-size: 1.5em;
	text-decoration: none;
	color: #FFF;
}

.body {
	width:400px;
	margin: 30px auto;
	margin-top: 90px;
 	border-radius: 17px;
 	background: #f8f8fd none repeat scroll 0 0;
 	border-bottom: 1px solid #b1b1b1;
 	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 30px rgba(10, 10, 0, 0.1) inset;
}

@media screen and (max-width: 600px) {
	.body {
		width: 90%;
	}
}

.body .note h3 {
  	color:#FFF;
  	text-align:left;
  	text-indent: 10px;
  	padding-left:5px; 
  	border-radius: 15px;
  	background-color:rgba(44, 166, 203, 0.8);
}

.body .item {
  	margin-left: 20px;
  	line-height: 30px;
  	font-size: 110%;
}

.body .item a {
	text-decoration: none;
	color: #000;
	position: relative;
	transition: all 0.3s linear 0s;
	text-shadow: 5px 3px 3px rgba(0, 0, 0, 0.4);
}

.body .item a:hover {
	color: #d59;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

.body .item a:after {
	position: absolute;
	bottom: -2px;
	left: 0;
	content: "";
	width: 0px;
	border-bottom: 2px solid #67d;
	transition: all 0.4s ease 0s;
}

.body .item a:hover:after {
	border-bottom: 2px solid #67d;
	width: 100%;
}


.body .item a span {
	font-size: smaller;
}

.toTop {
	position:fixed;
	bottom:15px;
	right:calc(50% - 250px);
}

.toTop img:hover {
	-webkit-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
}

.toTop img {
	border-radius: 12px;
}