*
{
    margin: 0;
    padding: 0;

    border-width: 0;
}

body
{
    background-image: url('../images/bg.jpg');
    /*min-width: 400px;*/
}

.header
{
    line-height: 52px;

    position: fixed;
    z-index: 5;
    top: 0;

    width: 100%;
    height: 52px;

    border-color: #606061;
    background-color: #2ca6cb;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, 0) 52%), linear-gradient(-45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, 0) 52%);
    background-size: 1em 1em;
}

.header address
{
    font-family: 'Comic Sans MS';

    text-align: center;
}

.header address a
{
    font-size: 1.5em;

    text-decoration: none;

    color: #fff;
}

.body
{
    width: 400px;
    margin: 30px auto;
    margin-top: 90px;

    border-bottom: 1px solid #b1b1b1;
    border-radius: 17px;
    background: #f8f8fd none repeat scroll 0 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .4), 0 0 30px rgba(10, 10, 0, .1) inset;
}

@media screen and (max-width: 600px)
{
    .body
    {
        width: 90%;
    }
}

.body .note h3
{
    font-weight: normal;
    line-height: 22px;

    padding-left: 5px;

    text-align: left;
    text-indent: 10px;

    color: #fff;
    border-radius: 0 15px 15px 0;
    background-color: rgba(44, 166, 203, .9);
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, 0) 52%), linear-gradient(-45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, 0) 52%);
    background-size: .45em .45em;
    box-shadow: 4px 3px 1px rgba(55, 177, 214, .3), 4px 0 2px rgba(255, 255, 255, .4);
}

.body .item
{
    font-size: 110%;
    line-height: 30px;

    margin-left: 20px;
}

.body .item a
{
    position: relative;

    transition: all .3s linear 0s;
    text-decoration: none;

    color: #000;
    text-shadow: 5px 3px 3px rgba(0, 0, 0, .4);
}

.body .item a:hover
{
    color: #d59;
    text-shadow: 0 0 3px rgba(0, 0, 0, .4);
}

.body .item a:after
{
    position: absolute;
    bottom: -2px;
    left: 0;

    width: 0;

    content: '';
    transition: all .4s ease 0s;

    border-bottom: 2px solid #67d;
}

.body .item a:hover:after
{
    width: 100%;

    border-bottom: 2px solid #67d;
}


.body .item a span
{
    font-size: smaller;
}

.toTop
{
    position: fixed;
    right: calc(50% - 250px);
    bottom: 15px;
}

.toTop img:hover
{
    -webkit-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
         -o-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
}

.toTop img
{
    border-radius: 12px;
}
