* {
	margin: 0px;
	padding: 0px;
	border-width: 0px;
}

body {
	background-color: #cdcdcd;
}

.header {
	position: fixed;
	top: 0;
	height: 60px;
	line-height: 60px;
	width: 100%;
    	background-color: #000000;
	border-color: #606061;
	z-index: 5;
}

.header h2 {
	text-align: center;
	font-family: "Comic Sans MS";
}

.header h2 a {
	text-decoration: none;
	color: #7BBBEE;
}

.body {
	width:400px;
	margin: 30px auto;
	margin-top: 90px;
	border-style: solid;
 	border-width:1px;
 	border-color: #555;
 	border-radius: 17px;
 	background-color: #DFDFDF;
}

.body .note h3 {
  	color:#ddd;
  	text-align:left;
  	text-indent: 10px;
  	padding-left:5px; 
  	border-radius: 15px;
  	background-color:#56c;
}

.body .item {
  	margin-left: 20px;
  	line-height: 30px;
  	font-size: 110%;
}

.body .item a {
	text-decoration: none;
	color: black;
	position: relative;
	transition: color 0.3s linear 0s;
}

.body .item a:hover {
	color: #d59;
}

.body .item a:after {
	position: absolute;
	bottom: -2px;
	left: 0;
	content: "";
	width: 0px;
	border-bottom: 3px solid #67d;
	transition: all 0.4s ease 0s;
}

.body .item a:hover:after {
	border-bottom: 3px solid #67d;
	width: 100%;
}


.body .item a span {
	font-size: smaller;
}

.toTop {
	position:fixed;
	bottom:15px;
	right:370px;
}

.toTop img:hover {
	-webkit-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
}

.toTop img {
	border-radius: 12px;
}